@using Shop.Application.DTOs.Admin.Order;
@using Shop.Web.Models.VM.Admin.Order;

@{
    ViewData["Title"] = "داشبورد";
    var orderResult = (OrderStateResaultDto)ViewData["ResultOrder"];
}

<div class="row mt-5">
    <h2 class="mb-3">سفارش ها</h2>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary">
            درخواست شده <span class="badge bg-secondary">@orderResult.RequestCount</span>
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary">
            درحال بررسی <span class="badge bg-secondary">@orderResult.ProcessingCount</span>
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary">
            ارسال شده <span class="badge bg-secondary">@orderResult.SentCount</span>
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary">
            لغو شده <span class="badge bg-secondary">@orderResult.CancelCount</span>
        </button>
    </div>
</div>