@using Shop.Application.DTOs.Admin.Product;
@using Shop.Application.DTOs.Site;
@using Shop.Domain.Enums;
@using Shop.Web.Models.VM.Admin.Product;

@model FilterProductsDto
@{
    ViewData["Title"] = "محصولات";
    var categories = (List<Shop.Domain.Models.ProductEntities.Category>)ViewData["Categories"];
}

<main class="main">     
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                <li class="breadcrumb-item active" aria-current="page">4 ستونه</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <form asp-area="" asp-controller="Product" asp-action="Products" method="get" id="formProducts">
                                <input type="hidden" asp-for="PageId" />
                                <input type="hidden" asp-for="FilterByCategory" />
                                <div class="toolbox-sort">
                                    <label for="sortby">مرتب سازی براساس : </label>
                                    <div class="select-custom">
                                         <select class="form-control" asp-for="ProductOrder" asp-items="@Html.GetEnumSelectList<ProductOrder>()">
                                        </select> 
                                    </div>
                                </div><!-- End .toolbox-sort -->
                            </form>
                         @*    <div class="toolbox-layout">
                                <a href="category-4cols.html" class="btn-layout active">
                                    <svg width="22" height="10">
                                        <rect x="0" y="0" width="4" height="4"></rect>
                                        <rect x="6" y="0" width="4" height="4"></rect>
                                        <rect x="12" y="0" width="4" height="4"></rect>
                                        <rect x="18" y="0" width="4" height="4"></rect>
                                        <rect x="0" y="6" width="4" height="4"></rect>
                                        <rect x="6" y="6" width="4" height="4"></rect>
                                        <rect x="12" y="6" width="4" height="4"></rect>
                                        <rect x="18" y="6" width="4" height="4"></rect>
                                    </svg>
                                </a>
                            </div><!-- End .toolbox-layout --> *@
                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center">

                            <partial name="_NewProductBox" model="Model.ProductItems" />

                        </div><!-- End .row -->
                    </div><!-- End .products -->

                    <partial name="_Paging" model="@Model.GetCurrentPaging()" />
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">
                            <label>فیلترها : </label>
                            <a onclick="SubmitForm()" class="sidebar-filter-clear btn btn-warning">فیلتر</a>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                    دسته بندی
                                </a>
                            </h3><!-- End .widget-title -->
                            @if (categories != null && categories.Any())
                            {
                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        @foreach (var category in categories)
                                        {
                                            <div class="filter-items filter-items-count">
                                                <a asp-area="" asp-controller="Product" asp-action="Products" asp-route-FilterByCategory="@category.UrlName" class="text-primary">@category.Title</a>
                                            </div>

                                            <!-- End .filter-items -->
                                        }
                                    </div><!-- End .widget-body -->
                                </div>

                                <!-- End .collapse -->
                            }
                        </div><!-- End .widget -->

                    </div><!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>

@section scripts{
    <script>
        function SubmitForm(){
            $('#formProducts').submit();
        }

        //$('#ProductOrder').on('change',function (){
        //    $('#formProducts').submit();
        //});
    </script>
}