@using Shop.Domain.Models.ProductEntities;
@model List<ProductFeature>
@{
    ViewData["Title"] = "ویزگی های محصول";
    int index = 1;
}


<div class="row mt-5">
    <div class="col-md-12">
        @if (Model != null && Model.Any())
        {
            <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ویژگی</th>
                                <th scope="col">مقدار ویژگی</th>
                                <th scope="col">دستورات</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var productFeatuer in Model)
                            {
                                <tr>
                                    <th scope="row">@index</th>
                                    <td>
                                        @productFeatuer.FeatuerTitle
                                    </td>
                                    <td>
                                        @productFeatuer.FeatureValue
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Product" asp-action="DeleteFeatuers" asp-route-featuerId="@productFeatuer.Id">حذف</a>
                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        }
        else
        {
            <div class="alert alert-danger">
                <b>ایتمی وجود ندارد</b>
            </div>
        }

    </div>
</div>
