
@using Shop.Application.DTOs.Accounts;
@using Shop.Infrastructure.Extentions;
@using Shop.Domain.Models.Account;
@{
    var user =(User)ViewBag.User;
}

<header class="header header-6">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <ul class="top-menu top-link-menu d-none d-md-block">
                    <li>
                        <ul>
                            <li><a href=""><i class="icon-phone"></i>تلفن تماس : 09118898014</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="social-icons social-icons-color">
                    <a href="/" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="/" class="social-icon social-telegram" title="تلگرام" target="_blank">
                        <i class="icon-telegram"></i>
                    </a>
                </div><!-- End .soial-icons -->
                <ul class="top-menu top-link-menu">
                    <li>
                       @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li>
                                    <a asp-area="User"asp-controller="Home" asp-action="Index"><i class="icon-user"></i>@user.GetUserName()</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Logout"><i class="icon-user"></i>خروج</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Register"><i class="icon-user"></i>ثبت نام</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Login"><i class="icon-user"></i>ورود</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul><!-- End .top-menu -->
              
            </div><!-- End .header-right -->
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">جستجو</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="q" id="q"
                                   placeholder="جستجوی محصول ..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>
            <div class="header-center">
                <a href="index-1.html" class="logo">
                    <img src="/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <a href="wishlist.html" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <span class="wishlist-count">3</span>
                    <span class="wishlist-txt">علاقه مندی</span>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">2</span>
                        <span class="cart-txt">164,000 تومان</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">کتونی ورزشی مخصوص دویدن رنگ بژ</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1 x </span>
                                        84,000 تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="/images/products/cart/product-1.jpg" alt="محصول">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                            </div><!-- End .product -->

                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">لباس زنانه آبی</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1 x </span>
                                        76,000 تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="/images/products/cart/product-2.jpg" alt="محصول">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>مجموع</span>

                            <span class="cart-total-price">160,000 تومان</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="cart.html" class="btn btn-primary">مشاهده سبد خرید</a>
                            <a href="checkout.html" class="btn btn-outline-primary-2">
                                <span>پرداخت</span><i class="icon-long-arrow-left"></i>
                            </a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="index-1.html" class="sf-with-ul">خانه</a>

                            <div class="megamenu demo">
                                <div class="menu-col">
                                    <div class="menu-title">دمو خود را انتخاب کنید</div><!-- End .menu-title -->

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <a href="index-1.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/1.jpg);"></span>
                                                <span class="demo-title">01 - فروشگاه مبلمان</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-2.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/2.jpg);"></span>
                                                <span class="demo-title">02 - فروشگاه مبلمان</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-3.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/3.jpg);"></span>
                                                <span class="demo-title">03 - فروشگاه لوازم الکترونیکی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-4.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/4.jpg);"></span>
                                                <span class="demo-title">04 - فروشگاه لوازم الکترونیکی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-5.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/5.jpg);"></span>
                                                <span class="demo-title">05 - فروشگاه مد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-6.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/6.jpg);"></span>
                                                <span class="demo-title">06 - فروشگاه مد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-7.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/7.jpg);"></span>
                                                <span class="demo-title">07 - فروشگاه مد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-8.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/8.jpg);"></span>
                                                <span class="demo-title">08 - فروشگاه مد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-9.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/9.jpg);"></span>
                                                <span class="demo-title">09 - فروشگاه مد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-10.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/10.jpg);"></span>
                                                <span class="demo-title">10 - فروشگاه کفش</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-11.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/11.jpg);"></span>
                                                <span class="demo-title">11 - فروشگاه مبل</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-12.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/12.jpg);"></span>
                                                <span class="demo-title">12 - فروشگاه مُد</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-13.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/13.jpg);"></span>
                                                <span class="demo-title">13 - بازار</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-14.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/14.jpg);"></span>
                                                <span class="demo-title">14 - بازار تمام عرض</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-15.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/15.jpg);"></span>
                                                <span class="demo-title">15 - مد و زیبایی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-16.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/16.jpg);"></span>
                                                <span class="demo-title">16 - مُد و زیبایی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-17.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/17.jpg);"></span>
                                                <span class="demo-title">17 - فروشگاه مُد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-18.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/18.jpg);"></span>
                                                <span class="demo-title">
                                                    18 - فروشگاه مُد و لباس (با
                                                    سایدبار)
                                                </span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-19.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/19.jpg);"></span>
                                                <span class="demo-title">19 - فروشگاه بازی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-20.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/20.jpg);"></span>
                                                <span class="demo-title">20 - فروشگاه کتاب</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-21.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/21.jpg);"></span>
                                                <span class="demo-title">21 - فروشگاه ورزشی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-22.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/22.jpg);"></span>
                                                <span class="demo-title">22 - فروشگاه ابزار</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-23.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/23.jpg);"></span>
                                                <span class="demo-title">
                                                    23 - -فروشگاه مد با نوبار سمت
                                                    راست
                                                </span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-24.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/24.jpg);"></span>
                                                <span class="demo-title">24 - فروشگاه ورزشی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-25.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/25.jpg);"></span>
                                                <span class="demo-title">25 - فروشگاه زیورآلات</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-26.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/26.jpg);"></span>
                                                <span class="demo-title">26 - فروشگاه بازار</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-27.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/27.jpg);"></span>
                                                <span class="demo-title">27 - فروشگاه مُد</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-28.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/28.jpg);"></span>
                                                <span class="demo-title">28 - فروشگاه مواد غذایی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-29.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/29.jpg);"></span>
                                                <span class="demo-title">29 - فروشگاه تی شرت</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-30.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/30.jpg);"></span>
                                                <span class="demo-title">30 - فروشگاه هدفون</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item hidden">
                                            <a href="index-31.html">
                                                <span class="demo-bg"
                                                      style="background-image: url(/images/menu/demos/31.jpg);"></span>
                                                <span class="demo-title">31 - فروشگاه یوگا</span>
                                            </a>
                                        </div><!-- End .demo-item -->
                                    </div><!-- End .demo-list -->

                                    <div class="megamenu-action text-center">
                                        <a href="demo.html"
                                           class="btn btn-outline-primary-2 view-all-demos">
                                            <span>
                                                مشاهده همه
                                                دمو ها
                                            </span><i class="icon-long-arrow-left"></i>
                                        </a>
                                    </div><!-- End .text-center -->
                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li>
                            <a href="category.html" class="sf-with-ul">فروشگاه</a>

                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="menu-title">فروشگاه با سایدبار</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="category-list.html">فروشگاه لیست</a></li>
                                                        <li>
                                                            <a href="category-2cols.html">فروشگاه 2 ستونه</a>
                                                        </li>
                                                        <li><a href="category.html">فروشگاه 3 ستونه</a></li>
                                                        <li>
                                                            <a href="category-4cols.html">فروشگاه 4 ستونه</a>
                                                        </li>
                                                        <li>
                                                            <a href="category-market.html">
                                                                <span>
                                                                    فروشگاه
                                                                    بازار<span class="tip tip-new">جدید</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>

                                                    <div class="menu-title">فروشگاه بدون سایدبار</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li>
                                                            <a href="category-boxed.html">
                                                                <span>
                                                                    فروشگاه با حالت
                                                                    باکس<span class="tip tip-hot">ویژه</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="category-fullwidth.html">
                                                                فروشگاه تمام
                                                                صفحه
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <div class="menu-title">دسته بندی محصولات</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li>
                                                            <a href="product-category-boxed.html">
                                                                فروشگاه با
                                                                حالت باکس
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="product-category-fullwidth.html">
                                                                <span>
                                                                    فروشگاه
                                                                    تمام عرض<span class="tip tip-new">جدید</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="menu-title">صفحات فروشگاه</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="cart.html">سبد خرید</a></li>
                                                        <li><a href="checkout.html">پرداخت</a></li>
                                                        <li><a href="checkout2.html">پرداخت 2</a></li>
                                                        <li><a href="compare.html">مقایسه محصولات</a></li>
                                                        <li><a href="compare2.html">مقایسه محصولات 2</a></li>
                                                        <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                                        <li><a href="dashboard.html">داشبورد</a></li>

                                                    </ul>
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="banner banner-overlay">
                                            <a href="category.html" class="banner banner-menu">
                                                <img src="/images/menu/banner-1.jpg" alt="Banner">

                                                <div class="banner-content banner-content-top">
                                                    <div class="banner-title text-white">
                                                        آخرین
                                                        <br>شانس<br><span><strong>فروش</strong></span>
                                                    </div>
                                                    <!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner banner-overlay -->
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">محصول</a>

                            <div class="megamenu megamenu-sm">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div class="menu-col">
                                            <div class="menu-title">جزئیات محصول</div><!-- End .menu-title -->
                                            <ul>
                                                <li><a href="product.html">پیش فرض</a></li>
                                                <li><a href="product-centered.html">توضیحات وسط چین</a></li>
                                                <li>
                                                    <a href="product-extended.html">
                                                        <span>
                                                            توضیحات گسترده<span class="tip tip-new">جدید</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li><a href="product-gallery.html">گالری</a></li>
                                                <li><a href="product-sticky.html">اطلاعات چسبیده</a></li>
                                                <li><a href="product-sidebar.html">صفحه جمع با سایدبار</a></li>
                                                <li><a href="product-fullwidth.html">تمام عرض</a></li>
                                                <li><a href="product-masonry.html">اطلاعات چسبیده</a></li>
                                            </ul>
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6">
                                        <div class="banner banner-overlay">
                                            <a href="category.html">
                                                <img src="/images/menu/banner-2.jpg" alt="Banner">

                                                <div class="banner-content banner-content-bottom">
                                                    <div class="banner-title text-white">
                                                        محصولات
                                                        جدید<br><span><strong>بهار 1399</strong></span>
                                                    </div>
                                                    <!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-sm -->
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">صفحات </a>

                            <ul>
                                <li>
                                    <a href="about.html" class="sf-with-ul">درباره ما</a>

                                    <ul>
                                        <li><a href="about.html">درباره ما 01</a></li>
                                        <li><a href="about-2.html">درباره ما 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html" class="sf-with-ul">تماس با ما</a>

                                    <ul>
                                        <li><a href="contact.html">تماس با ما 01</a></li>
                                        <li><a href="contact-2.html">تماس با ما 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">ورود</a></li>
                                <li><a href="faq.html">سوالات متداول</a></li>
                                <li><a href="404.html">خطای 404</a></li>
                                <li><a href="coming-soon.html">به زودی</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html" class="sf-with-ul">اخبار</a>

                            <ul>
                                <li><a href="blog.html">کلاسیک</a></li>
                                <li><a href="blog-listing.html">لیست</a></li>
                                <li>
                                    <a href="#">شبکه بندی</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">2 ستونه</a></li>
                                        <li><a href="blog-grid-3cols.html">3 ستونه</a></li>
                                        <li><a href="blog-grid-4cols.html">4 ستونه</a></li>
                                        <li><a href="blog-grid-sidebar.html">با سایدبار</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">سایز های مختلف</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">2 ستونه</a></li>
                                        <li><a href="blog-masonry-3cols.html">3 ستونه</a></li>
                                        <li><a href="blog-masonry-4cols.html">4 ستونه</a></li>
                                        <li><a href="blog-masonry-sidebar.html">با سایدبار</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">ماسک</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">نوع 1</a></li>
                                        <li><a href="blog-mask-masonry.html">نوع 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">پست تکی</a>
                                    <ul>
                                        <li><a href="single.html">پیش فرض با سایدبار</a></li>
                                        <li><a href="single-fullwidth.html">تمام صفحه بدون سایدبار</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">تمام صفحه باسایدبار</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html" class="sf-with-ul">عناصر طراحی</a>

                            <ul>
                                <li><a href="elements-products.html">محصولات</a></li>
                                <li><a href="elements-typography.html">تایپوگرافی</a></li>
                                <li><a href="elements-titles.html">عناوین</a></li>
                                <li><a href="elements-banners.html">بنرها</a></li>
                                <li><a href="elements-product-category.html">دسته بندی محصولات</a></li>
                                <li><a href="elements-video-banners.html">بنرهای ویدیویی</a></li>
                                <li><a href="elements-buttons.html">دکمه ها</a></li>
                                <li><a href="elements-accordions.html">آکاردئون</a></li>
                                <li><a href="elements-tabs.html">تب ها</a></li>
                                <li><a href="elements-testimonials.html">توصیف و نقل قول</a></li>
                                <li><a href="elements-blog-posts.html">اخبار</a></li>
                                <li><a href="elements-portfolio.html">نمونه کار</a></li>
                                <li><a href="elements-cta.html">پاسخ به عمل</a></li>
                                <li><a href="elements-icon-boxes.html">باکس های آیکون</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <button class="mobile-menu-toggler">
                    <span class="sr-only">فهرست</span>
                    <i class="icon-bars"></i>
                </button>
            </div><!-- End .header-left -->

            <div class="header-right">
                <i class="la la-lightbulb-o"></i>
                <p><span>خرید تا 30 درصد تخفیف</span></p>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->