@using Shop.Application.DTOs.Accounts
@using Shop.Application.Extentions
@using Shop.Domain.Models.Account
@{
    var user = (User)ViewBag.User;
}

<header class="header header-6">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <ul class="top-menu top-link-menu d-none d-md-block">
                    <li>
                        <ul>
                            <li><a href=""><i class="icon-phone"></i>تلفن تماس : 09118898014</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="social-icons social-icons-color">
                    <a href="/" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="/" class="social-icon social-telegram" title="تلگرام" target="_blank">
                        <i class="icon-telegram"></i>
                    </a>
                </div><!-- End .soial-icons -->
                <ul class="top-menu top-link-menu">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li>
                                    <a asp-area="User" asp-controller="Home" asp-action="Index"><i class="icon-user"></i>@user.GetUserName()</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Logout"><i class="icon-user"></i>خروج</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Register"><i class="icon-user"></i>ثبت نام</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Login"><i class="icon-user"></i>ورود</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul><!-- End .top-menu -->

            </div><!-- End .header-right -->
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                           
                            <a class="btn btn-primary" type="submit"><i class="icon-search"></i></a>
                            <input type="search" class="form-control mr-4" name="q" id="q"
                                   placeholder="جستجوی محصول ..." required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="header-center">
                <a href="/" class="logo">
                    <img src="/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <a href="wishlist.html" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <span class="wishlist-count">3</span>
                    <span class="wishlist-txt">علاقه مندی</span>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">2</span>
                        <span class="cart-txt">164,000 تومان</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">کتونی ورزشی مخصوص دویدن رنگ بژ</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1 x </span>
                                        84,000 تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="/images/products/cart/product-1.jpg" alt="محصول">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                            </div><!-- End .product -->

                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">لباس زنانه آبی</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1 x </span>
                                        76,000 تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="/images/products/cart/product-2.jpg" alt="محصول">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>مجموع</span>

                            <span class="cart-total-price">160,000 تومان</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="cart.html" class="btn btn-primary">مشاهده سبد خرید</a>
                            <a href="checkout.html" class="btn btn-outline-primary-2">
                                <span>پرداخت</span><i class="icon-long-arrow-left"></i>
                            </a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
    <div class="header-bottom sticky-header">
        <div class="container">
                @await Component.InvokeAsync("NavbarCategory")

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/">خانه</a>
                        </li>
                        <li class="megamenu-container">
                            <a asp-area="" asp-controller="Product" asp-action="Products">محصولات</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
         
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header>