@using Shop.Application.DTOs.Admin.Product
@using Shop.Application.Utils;
@model FilterCategoryDto

@if (Model.Categories != null && Model.Categories.Any())
{
    <div class="cat-blocks-container">
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="col-6 col-sm-4 col-lg-2">
                    <a asp-area="" asp-controller="Product" asp-action="Products" asp-route-FilterByCategory="@category.UrlName" class="cat-block">
                        <figure>
                            <span>
                                <img src="@(PathExtensions.CategoryOrgin +category.ImageName)" alt="@category.Title">
                            </span>
                        </figure>
                        <h3 class="cat-block-title text-center">@category.Title</h3>
                    </a>
                </div>
            }
        </div>
    </div>
}