@using Shop.Web.Models.VM.Account;
@model LoginVm
@{
    ViewData["Title"] = "ورود";
}

@section scripts{
    <partial name="_ValidationScripts" />
    <partial name="_CaptchaScripts" />
}


<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </div><!-- End .container -->
</nav>


<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <div class="tab-content">
                    <form asp-controller="Account" asp-action="Login" method="post">
                         <partial name="_CaptchaInput" /> 
                        <div class="form-group">
                            <label for="singin-email-2">شماره تلفن</label>
                            <input type="text" asp-for="PhoneNumber" class="form-control">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="singin-email-2">گذرواژه</label>
                            <input type="password" asp-for="Password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>ورود</span>
                                <i class="icon-long-arrow-left"></i>
                            </button>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                <label class="custom-control-label" for="RememberMe">
                                    مرا به خاطر
                                    بسپار
                                </label>
                            </div><!-- End .custom-checkbox -->

                            <a href="#" class="forgot-link">رمز عبور خود را فراموش کرده اید؟</a>
                        </div>
                    </form>
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</div>