@model Shop.Domain.Models.OrderEntities.Order

@{
    int userWalletAmount = (Int32)ViewBag.UserWalletAmount;
}

<h3 class="summary-title">فاکتور</h3>
<table class="table table-summary">
    <tbody>
        <tr class="summary-subtotal">
            <td>جمع کل سبد خرید : </td>
            <td class="text-left">@Model.OrderSum.ToString("#,0 تومان")</td>
        </tr><!-- End .summary-subtotal -->

        <tr class="summary-total">
            <td>مبلغ قابل پرداخت :</td>
            <td class="text-left">@Model.OrderSum.ToString("#,0 تومان")</td>
        </tr>
        <tr class="summary-total">
            <td>موجودی کیف پول شما :</td>
            <td class="text-left">@userWalletAmount.ToString("#,0 تومان")</td>
        </tr>

        <tr class="summary-shipping">
            <td>شیوه پرداخت : </td>
            <td>&nbsp;</td>
        </tr>
        <tr class="summary-shipping-row">
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" id="free-shipping" name="IsWallet" class="custom-control-input" value="true" checked>
                    <label class="custom-control-label" for="free-shipping">
                        کیف پول
                    </label>
                </div>
            </td>
        </tr>
        <tr class="summary-shipping-row">
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" id="online" name="IsWallet" class="custom-control-input" value="false">
                    <label class="custom-control-label" for="online">
                        آنلاین
                    </label>
                </div>
            </td>
        </tr>

    </tbody>
</table>

@* <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
    پرداخت
</button> *@

@if (Model.OrderSum <= userWalletAmount && Model.OrderSum != 0)
{
    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
        پرداخت
    </button>
}
else
{
    <div class="alert alert-info">
        <b>
            موجودی کیف پول شما کافی نمیباشد ، لطفا از طریق این <a asp-area="User" asp-controller="Account" asp-action="UserWallet">لینک</a> اقدام به شارژ حساب کاربری خود کنید
        </b>
    </div>
}