@using Shop.Application.Utils;
@using Shop.Domain.Models.ProductEntities;
@using Shop.Application.Extentions;
@model List<ProductComment>

@if (Model != null && Model.Any())
{
    @foreach (var productComment in Model)
    {
        <div class="review">
            <div class="row no-gutters">
                <div class="col-auto">
                    <h4><a>@productComment.User.GetUserName()</a></h4>
                    <span class="review-date">@productComment.CreateDate.ToStringShamsiDate()</span>
                </div>
                <div class="col-12">
                    @productComment.Text
                </div>
            </div>
        </div>

    }
}