@model ChangePasswordVM
@{
    ViewData["Title"] = "ویرایش رمز عبور";
}
<div class="container text-right mt-5 mb-5">
    <div class="user-account">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <aside>
                    @await Component.InvokeAsync("UserSideBar")

                </aside>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 ">
                <section class="user-account-content box-shadow">
                    <header>
                        <h1>@ViewData["Title"]</h1>
                    </header>
                    <div class="inner">
                        <div class="account-information">
                            <form asp-area="User" asp-controller="Account" asp-action="ChangePassword">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="CurrentPassword"></label>
                                            <input type="password" class="form-control" asp-for="CurrentPassword" />
                                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="NewPassword"></label>
                                            <input type="password" class="form-control" asp-for="NewPassword" />
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="ConfirmNewPassword"></label>
                                            <input type="password" class="form-control" asp-for="ConfirmNewPassword" />
                                            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-warning">ویرایش کلمه ی عبور</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
