@{
    ViewData["Title"] = "نتیجه ی پرداخت";
}

<div class="container text-right mt-5 mb-5">
    <div class="user-account">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <aside>
                    @await Component.InvokeAsync("UserSideBar")
                </aside>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 ">
                <section class="user-account-content box-shadow">
                    <header>
                        <h1>@ViewData["Title"]</h1>
                    </header>
                    <div class="inner">
                        <div class="account-information">
                            @if (ViewBag.Success)
                            {
                                <div class="alert alert-success">
                                    <p>@ViewBag.RefId</p>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <p>@ViewBag.RefId</p>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

